{% extends 'finances/template.html' %}
{% block body %}
    <h2>Account Details</h2>
    <div class="account-display-table">
        <table>
          <tr>
            <th>Account Name</th>
            <th>Current Balance</th>
          </tr>
          {% for account in accounts %}
          <tr>
            <td><a href="#">{{ account.account_name }}</a></td>
            <td>{{ account.current_balance }}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
{% endblock body %}
