{% extends 'finances/template.html' %}
{% block body %}
<h2>Transaction Details</h2>
<div class="account-display-table">
    <table>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Reason</th>
        <th>Expense</th>
        <th>Income</th>
        <th>Balance</th>
      </tr>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.transaction_date }}</td>
        <td>{{ transaction.transaction_time }}</td>
        <td>{{ transaction.transaction_reason }}</td>
        {% if transaction.is_expense %}
          <td>{{ transaction.transaction_amount }}</td>
          <td></td>
        {% else %}
          <td></td>
          <td>{{ transaction.transaction_amount }}</td>
        {% endif %}
        <td></td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endblock body %}
